aniso8601
blinker
cffi
click
colorama
Flask
Flask-JWT
Flask-JWT-Extended
Flask-Login
Flask-Mail
flask-marshmallow
Flask-RESTful
Flask-SQLAlchemy
Flask-User
Flask-WTF
greenlet
importlib-metadata
install
itsdangerous
Jinja2
MarkupSafe
marshmallow
marshmallow-sqlalchemy
passlib
pycparser
PyJWT
python-dotenv
pytz
six
SQLAlchemy
typing-extensions
Werkzeug
WTForms
zipp
