aniso8601==9.0.1
blinker==1.4
cffi==1.14.6
click==8.0.1
colorama==0.4.4
Flask==2.0.1
Flask-JWT==0.3.2
Flask-JWT-Extended==4.2.3
Flask-Login==0.5.0
Flask-Mail==0.9.1
flask-marshmallow==0.14.0
Flask-RESTful==0.3.9
Flask-SQLAlchemy==2.5.1
Flask-User==1.0.2.2
Flask-WTF==0.15.1
greenlet==1.1.0
importlib-metadata==4.6.0
itsdangerous==2.0.1
Jinja2==3.0.1
MarkupSafe==2.0.1
marshmallow==3.12.1
passlib==1.7.4
pycparser==2.20
PyJWT==2.1.0
python-dotenv==0.18.0
pytz==2021.1
six==1.16.0
SQLAlchemy==1.4.19
typing-extensions==3.10.0.0
Werkzeug==2.0.1
WTForms==2.3.3
zipp==3.4.1
